{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/podcast-index.css' %}">
<script src="https://kit.fontawesome.com/73eb34af13.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Podcasts</h1>
</section>

<section class="card-container">
  {% for podcast in podcast_list %}
    <div class="card">
      <a href="{% url 'podcasts_detail' podcast.id %}">
        <div class="card-content">
          <img class="podcast-img" src="{% if podcast.image %}{{podcast.image}}{% else %}{% static 'images/podcast-icon.svg' %}{% endif %}" alt="">
          <h2 class="card-title">{{podcast.title}}</h2>
          <h4 class="card-category">{{podcast.get_category_display}}</h3>
          <p>{{podcast.description}}</p>
          <div class="avg-rating">
            <div id="rating-1" class="rating-star {% if podcast.average_rating > 0 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
            <div id="rating-2" class="rating-star {% if podcast.average_rating > 1 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
            <div id="rating-3" class="rating-star {% if podcast.average_rating > 2 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
            <div id="rating-4" class="rating-star {% if podcast.average_rating > 3 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
            <div id="rating-5" class="rating-star {% if podcast.average_rating > 4 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</section>
{% endblock %}