{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/recommendation-list-index.css' %}">
{% endblock %}

{% block content %}

<section class="page-header">
  <h2>See what people are listening to</h2>
</section>

{% for rec in recommendationlist_list %}
  <section class="card-container">
    <div class="avatar-img">
      <div class="user-name">
        {{rec.user.first_name|make_list|first}}{{rec.user.last_name|make_list|first}}
      </div>
    </div>
    <div class="card">
      <div class="card-bg">
      </div>
      <a href="{% url 'recs_detail' rec.id %}">
        <div class="card-content">
          <h2>{{rec.name}}</h2>
          <p>{{rec.description}}</p>
        </div>
      </a>
    </div>
  </section>
{% endfor %}
{% endblock %}