{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/recommendation-list-detail.css' %}"
/>
{% endblock %}

{% block content %}
  
<section>
  <div class="list-content">
    <h1 class="list-title">{{recommendationlist.name}}</h1>
    <p>{{recommendationlist.description}}</p>
    <a href="{% url 'recs_update' recommendationlist.id %}" class="btn secondary">Edit</a> 
    <a href="{% url 'recs_delete' recommendationlist.id %}" class="btn danger">Delete</a>
  </div>
  <div class="items-content">
    <h1 class="items-title">Podcasts</h1>
    {% if recommendationlist.podcasts.count %}
      {% for podcast in recommendationlist.podcasts %}
        <h3>
          <a href="{% url 'podcasts_detail' podcast.id %}">
            {{podcast.title}}
          </a>
        </h3>
      {% endfor %}
    {% else %}
      <h3 class="no-items-message">{{recommendationlist.name}} does not have any podcasts</h3>
    {% endif %}
  </div>
</section>

{% endblock %}