{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/recommendation-list-detail.css' %}"
/>
{% endblock %}

{% block content %}
  
<div class="card">
  <div class="card-bg">
  </div>
  <div class="card-content">
    <h2>{{recommendationlist.name}}</h2>
    <p>{{recommendationlist.description}}</p>
    <h2>Podcasts</h2>
    {% if recommendationlist.podcasts.count %}
      {% for podcast in ecommendationlist.podcasts %}
        <h3>{{podcast.title}}</h3>
      {% endfor %}
    {% else %}
      <h3>No podcasts have been added to this list yet...</h3>
    {% endif %}
  </div>
</div>
<a href="{% url 'recs_update' recommendationlist.id %}" class="btn warn">Edit</a> 
<a href="{% url 'recs_delete' recommendationlist.id %}" class="btn danger">Delete</a>

{% endblock %}