{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'images/goodwaves-icon.svg' %}"
  >
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <title>Good Waves</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img 
          class='logo-img'
          src="{% static 'images/goodwaves-icon.svg' %}" 
          alt="The Good Waves Logo"
        >
      </a>
    </div>
    {% if user.is_authenticated %}
      <nav>
        <ul>
            <li><a href="{% url 'recs_index' %}">View Recommendations List</a></li>
            <li><a href="{% url 'podcasts_index' %}">View Podcasts</a></li>
            <li><a href="{% url 'recs_create' %}">Create a Recommendations List</a></li>
            <li><a href="{% url 'podcasts_create' %}">Create a Podcast</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
        </ul>
      </nav>
    {% endif %}
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>