{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}"/>
<script defer src="{% static 'js/signup-functions.js'%}"></script>
{% endblock %}

{% block content %}

<div class="sign-up-header">
  <a href="/" class="logo-link">
    <img 
      class='logo-img'
      src="{% static 'images/goodwaves-icon.svg' %}" 
      alt="The Good Waves Logo"
    >
    </a>
    <h1>GoodWaves</h1>
</div>
{% if error_message %}
  <p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit" onclick="checkForm(true)">Submit</button>
</form>

{% endblock %}