html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
  --logo-color: rgba(21, 116, 222, 1);
  --logo-color-op: rgba(21, 116, 222, .5);
  --nav-bg: rgba(192, 217, 255, 0.7);
  --nav-bg-ff: rgba(167, 170, 189, .7);
  --borders: rgb(66, 70, 86) solid 2px;
  --text-color: rgb(17, 20, 17);
  --text-lite-color: rgb(72, 72, 72);
  --text-lighter-color: rgb(128, 128, 128);
  --link-hover-color: rgb(16, 56, 158);
  --button-bg: rgb(245, 245, 245);
  --button-bg-hover: rgba(21, 116, 222, .5);
  --submit: rgb(26, 128, 0);
  --danger: rgb(218, 68, 76);
  --danger-op: rgba(218, 68, 76, .5);
  --star-fill: rgb(255, 204, 0);
  --card-box-shadow: 5px 5px 6px -1px #AAA;
  --font-xtreme: 4.2rem;
  --font-xxl: 3.6rem;
  --font-xl: 2.4rem;
  --font-l: 1.8rem;
  --font-reg: 1.6rem;
  --card-border-radius: 6px;
}

header {
  width: 100%;
  background: var(--nav-bg-ff);
  border-bottom: var(--borders);
  z-index: 1;
}

.logo-img {
  width: 40%;
  min-width: 48px;
}

nav {
  margin: 10px;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.nav-icon {
  filter: invert(39%) sepia(5%) saturate(33%) hue-rotate(314deg) brightness(92%) contrast(90%);
}

.active-icon {
  filter: invert(32%) sepia(93%) saturate(1675%) hue-rotate(198deg) brightness(90%) contrast(92%);
}

.small-icon {
  height: 48px;
}

.large-icon {
  height: 45px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

h2 {
  font-size: var(--font-xl);
}

nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
}

nav a:hover {
  color: var(--link-hover-color)
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  padding: 5px 8px;
}

.header-logo-container {
  margin: auto;
  padding: 10px 20px 0;
}

.page-header {
  display: flex;
  align-items: center;
  margin: 20px;
}

.btn {
  color: white;
  font-size: var(--font-xl);
  padding: 2px 24px;
  height: 36px;
  border-radius: 24px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}

.btn:hover {
  background-color: var(--button-bg-hover);
}

.danger:hover {
  background-color: var(--danger-op);
}

.cancel:hover {
  background-color: var(--nav-bg-ff);
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--logo-color);
  background-color: var(--logo-color);
  height: 64px;
  border-radius: 32px;
  width: 80%;
  margin-top: 64px !important;
}

.secondary {
  border-color: var(--logo-color);
  background-color: var(--logo-color);
}

.cancel {
  border-color: var(--text-lite-color);
  background-color: var(--text-lite-color);
}

.danger {
  border-color: var(--danger);
  background-color: var(--danger);
}

.page-header h1 {
  font-size: var(--font-xxl);
  margin: 0;
}

.page-header img {
  height: 40px;
  margin-left:15px;
}

.page-header img:first-of-type {
  margin-left: 20px;
}

.avg-rating, .review-rating {
  display: flex;
  justify-content: space-between;
  width: 75%;
  font-size: var(--font-xxl);
}

.fill-star, .avg-rating {
  color: var(--star-fill);
}

.empty-star {
  color: lightgray;
}

@media only screen and (min-width: 300px) {
  header {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
  }
  
  .page-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 16px 0 16px;
  }

  nav,
  .header-logo-container {
    margin: 10px 0;
    padding: 0 15px;
  }

  .logo-img {
    min-width: 48px;
  }
  

  nav {
    margin-left: auto;
    display: flex;
    justify-content: center;
  }

  nav ul {
    flex-wrap: nowrap;
  }

  .header-logo-container {
    width: 213px;
  }

  .page-header h1 {
    font-size: var(--font-l);
    color: var(--text-lite-color);
    margin-bottom: 0;
    font-weight: 500;
  }
  
  .page-header img {
    height: 50px;
    margin-left:20px;
  }
  
  .page-header img:first-of-type {
    margin-left: 25px;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header {
      background: var(--nav-bg);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    }
  }
}

/*! Style desktop view  */
/* @media only screen and (min-width: 1024px) { */
  /* main {
    min-height: calc(100vh - 55px);
  } */
  
  /* header {
    margin: 20px 20px 0 20px;
    width: calc(100vw - 40px);
    max-width: 1920px;
    top: 20px;
    background-color: transparent;
    border-bottom: none;
  } */

  /* nav,
  .header-logo-container {
    margin: 0;
    background: var(--nav-bg-ff);
    border: var(--borders);
    border-radius: 18px;
  }

  .header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }

  .header-logo-container > a {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 40px;
  }

  .logo-img {
    width: 100%;
  } */
  

  /* nav {
    margin-left: auto;
  } */

  /* @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header {
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }

    nav,
    .header-logo-container {
      background: rgba(167, 170, 189, .6);
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    }
  }
} */