main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

main > section {
  width: 100%;
  padding: 10px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: var(--font-xtreme);
}

.header-logo-container {
  display: none;
}

.logo-img {
  width: 25%;
}

.main-text {
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-bottom: 32px;
}

.login h1 {
  font-size: clamp(3.2rem, 3vw, 4.8rem);
  margin: 10px 0;
}

.login > p {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 14px 0 0px;
}

.login label {
  display: none;
}

.login input {
  font-size: var(--font-xl);
  padding: 2px 32px;
  height: 64px;
  border-radius: 32px;
}

.login .btn {
  align-self: flex-end;
  margin-right: 0;
  margin-top: 16px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up > a {
  text-decoration: none;
  color: var(--logo-color);
  font-size: var(--font-xl);
}

@media only screen and (min-width: 1024px) {
  main {
    justify-content: space-around;
  }

  main > section {
    width: 40%;
  }

  .login {
    border: var(--borders);
    padding: 20px;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    width: 100%;
  }

  .logo-container {
    max-width: 520px;
  }
}