.page-header {
  padding-bottom: 8px;
  border-bottom: var(--text-lighter-color) solid 2px;
}

a {
  text-decoration: none;
}

.card {
  margin-bottom: 48px;
}

.podcast-img {
  width: 100%;
}

.card-title {
  color: var(--logo-color);
}

.card-category {
  color: var(--text-lighter-color);
  font-size: var(--font-reg);
  font-weight: 400;
}

p {
  color: var(--text-lighter-color);
  font-size: var(--font-reg);
  font-weight: 500;
  line-height: 150%;
}