h3 {
  width: 100%;
  color: var(--text-lite-color);
  font-size: var(--font-xl);
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: var(--text-lighter-color) solid 2px;
}

p {
  margin: 0 0 24px;
  font-size: var(--font-xl);
}