main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 16px;
}

.form-title {
  color: var(--text-lite-color);
  margin-bottom: 0;
  font-weight: 500;
  font-size: var(--font-xl);
}

h3 {
  width: 100%;
  color: var(--text-lite-color);
  font-size: var(--font-xl);
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: var(--text-lighter-color) solid 2px;
}

p {
  margin: 0 0 24px;
  font-size: var(--font-xl);
}