section {
  width: 100%;
}

.list-title, .items-title {
  color: var(--text-lite-color);
  font-size: var(--font-xxl);
}

.list-title {
  padding-bottom: 8px;
  border-bottom: var(--text-lighter-color) solid 2px;
}

p {
  font-size: var(--font-l);
}

.items-content, .item-form-container {
  margin-top: 32px;
  border-top: var(--text-lighter-color) solid 2px;
}

.no-items-message {
  font-size: var(--font-l);
  color: var(--danger-op);
}

a {
  text-decoration: none;
}

.podcast-title {
  color: var(--logo-color);
  font-size: var(--font-l);
  width: 50%;
  margin: 0;
}

.podcast-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.podcast-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.podcast-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit {
  margin-top: 0 !important;
  width: 100%;
  height: 48px;
}

.item-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.item-form > p {
  margin: 0;
}

.item-form > p:nth-child(2) {
  border-bottom: gray solid 2px;
}

.item-form > p:nth-child(2) > label {
  display: none;
}

.item-form > p:nth-child(3) > label {
  visibility: hidden;
}

.item-form > p:nth-child(3) > label:after {
  content: "Description";
  visibility: visible;
  display: block;
  font-size: var(--font-xl);
  color: var(--text-lite-color);
}

.item-form > p:nth-child(4) > label {
  visibility: hidden;
}

.item-form > p:nth-child(4) > label:after {
  content: "Category";
  visibility: visible;
  display: block;
  font-size: var(--font-xl);
  color: var(--text-lite-color);
}

.item-form > p:nth-child(5) > label {
  visibility: hidden;
}

.item-form > p:nth-child(5) > label:after {
  content: "Link";
  visibility: visible;
  display: block;
  font-size: var(--font-xl);
  color: var(--text-lite-color);
}

.item-form > p:nth-child(5) {
  margin-bottom: 24px;
}

.item-form > div {
  display: flex;
  justify-content: center;
}

.item-form > div > .submit {
  width: 80%;
}

#id_title {
  border: none;
  font-size: var(--font-xxl);
  color: var(--text-lite-color);
}

#id_description {
  resize: none;
  font-size: var(--font-xl);
  color: var(--text-lite-color);
  padding: 12px;
  height: 8.5em;
  width: 100%;
}

input, select {
  min-height: 48px;
  font-size: var(--font-xl);
  color: var(--text-lite-color);
  width: 100%;
}

.avg-rating {
  font-size: var(--font-xl);
  justify-content: flex-start;
}