main {
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-logo-container {
  display: none;
}

.sign-up-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 25%;
}

h1 {
  font-size: var(--font-xtreme);
}

table {
  padding: 0 40px 32px;
  width: 100%;
  border-spacing: 0 20px;
  border: var(--nav-bg) solid 2px;
}

th {
  text-align: left;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
}

td {
  max-width: 60%;
  border-bottom: black solid 2px;
  padding-top: 32px;
}

/* tbody > tr:nth-child(3) > td {
  border-bottom: var(--logo-color) solid 2px;
} */

td > * {
  width: 100%;
  padding: 6px 4px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

.helptext {
  display: none;
}

input {
  border: none;
  padding-bottom: 6px;
  font-size: var(--font-l);
}

label {
  display: none;
}

span {
  color: var(--danger)
}

button:disabled, button[disabled] {
  border-color: var(--text-lite-color);
  background-color: var(--text-lighter-color);
  color: var(--text-lite-color);
  opacity: 0.6;
  pointer-events: none;
}