.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.header-logo-container {
  display: none;
}

.sign-up-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 25%;
}

h1 {
  font-size: var(--font-xtreme);
}

table {
  padding: 32px 40px 0;
  width: 100%;
  border-spacing: 0 20px;
  border: var(--nav-bg) solid 2px;
}

th {
  text-align: left;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
}

td {
  max-width: 60%;
  padding-bottom: 32px;
}

td > * {
  width: 100%;
  padding: 6px 4px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

.helptext {
  display: none;
}

input {
  border: none;
  border-bottom: black solid 2px;
  padding-bottom: 6px;
  font-size: var(--font-xl);
}

#id_username {
  border-bottom: var(--logo-color) solid 2px;
}

label {
  display: none;
}