{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/recommendation-list-detail.css' %}"
/>
<script src="https://kit.fontawesome.com/73eb34af13.js" crossorigin="anonymous"></script>
<script defer src="{% static 'js/podcast-functions.js' %}"></script>
{% endblock %}

{% block content %}
  
<section>
  <div class="list-content">
    <h1 class="list-title">{{recommendation_list.name}}</h1>
    <p>{{recommendation_list.description}}</p>
    {% if user == recommendation_list.user %}
      <a href="{% url 'recs_update' recommendation_list.id %}" class="btn secondary">Edit</a> 
      <a href="{% url 'recs_delete' recommendation_list.id %}" class="btn danger">Delete</a>
    {% endif %}
  </div>
  <div class="items-content">
    <h1 class="items-title">Podcasts</h1>
    {% if recommendation_list.podcasts.count %}
      {% for podcast in recommendation_list.podcasts.all %}
        <div class="podcast-info">
          <h3>
            <a class="podcast-title" href="{% url 'podcasts_detail' podcast.id %}">
              <{% if podcast.image %}img{% else %}embed{% endif %} class="podcast-thumbnail {% if not podcast.image %}active-icon{% endif %}" src="{% if podcast.image %}{{podcast.image}}{% else %}{% static 'images/podcast-icon.svg' %}{% endif %}" alt="">
              {{podcast.title}}
              <div class="avg-rating">
                <div id="rating-1" class="rating-star {% if podcast.average_rating > 0 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
                <div id="rating-2" class="rating-star {% if podcast.average_rating > 1 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
                <div id="rating-3" class="rating-star {% if podcast.average_rating > 2 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
                <div id="rating-4" class="rating-star {% if podcast.average_rating > 3 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
                <div id="rating-5" class="rating-star {% if podcast.average_rating > 4 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
              </div>
            </a>
          </h3>
          {% if user == recommendation_list.user %}
            <form action="{% url 'unassoc_podcast' recommendation_list.id podcast.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn danger">Remove</button>
            </form>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <h3 class="no-items-message">{{recommendation_list.name}} does not have any podcasts</h3>
    {% endif %}
    {% if user == recommendation_list.user %}
      {% if podcasts.count %}
        <h3>Unassigned Podcasts</h3>
        {% for podcast in podcasts.all %}
          <div class="podcast-container">
            <div class="podcast-details">
              <a href="{% url 'podcasts_detail' podcast.id %}">
                <{% if podcast.image %}img{% else %}embed{% endif %} class="podcast-thumbnail {% if not podcast.image %}active-icon{% endif %}" src="{% if podcast.image %}{{podcast.image}}{% else %}{% static 'images/podcast-icon.svg' %}{% endif %}" alt="">
                <h4 class="podcast-title">{{podcast.title}}</h4>
                <div class="avg-rating">
                  <div id="rating-1" class="rating-star {% if podcast.average_rating > 0 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
                  <div id="rating-2" class="rating-star {% if podcast.average_rating > 1 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
                  <div id="rating-3" class="rating-star {% if podcast.average_rating > 2 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
                  <div id="rating-4" class="rating-star {% if podcast.average_rating > 3 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
                  <div id="rating-5" class="rating-star {% if podcast.average_rating > 4 %}fill-star{% else %}empty-star{% endif %}"><i class="fas fa-star"></i></div>
                </div>
              </a>
            </div>
            <form action="{% url 'assoc_podcast' recommendation_list.id podcast.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Add</button>
            </form>
          </div>
        {% endfor %}
      {% endif %}
    {% endif %}
  </div>
  <div class="item-form-container">
    {% if user == recommendation_list.user %}
      <h1 class="items-title">New Podcast</h1>
      <img id="podcast-img" src="" alt="">
      <form class="item-form" action="{% url 'podcasts_create' %}" method="post">
        {% csrf_token %}
        {{podcast_form.as_p}}
        <div>
          <button type="submit" class="btn submit">Create Podcast</button>
        </div>
      </form>
    {% endif %}
  </div>
</section>

{% endblock %}